/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Fontawesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* Page Animation */

@keyframes header {
  from { transform: scale(1.5); opacity: 0; }
  to { transform: scale(1); opacity: 100; }
}

h1 {
  animation-name: header;
  animation-duration: .7s;
  animation-timing-function: ease;
}